<div id="feedback" class="column col-6 col-mx-auto">
    <form class="form-group">
        <label class="form-label" for="text">Текст</label>
        <textarea class="form-input" name="text"></textarea><br>
        <input type="submit" id="send-btn" class="btn" value="Отправить">
    </form>
</div>