<div class="navbar-section">
    <a href="#">Logo</a>
    <a href="#users">Users</a>
    <a href="#feedback">Send feedback</a>
</div>
<div class="navbar-section">
    <a href="#login">Login</a>
</div>
